In [10]:
import numpy as np
import pandas as pd
import matplotlib
import sqlite3
import sqlite3 as sql

In [2]:
df = pd.read_csv("C:\\Users\\micha\\Projects\\uhli\\Pohyby_na_uctu-2000679390_20160101-20201204.csv", sep=";")
print ("len df - ", len(df))
print("df size - ", df.size)
print(df.head())
print(df.tail())
print(df.columns)

len df -  2138
df size -  19242
        Datum  Objem Měna          Protiúčet  Kód banky  \
0  04.01.2016    400  CZK  670100-2201092094     6210.0
1  04.01.2016    400  CZK  670100-2201092094     6210.0
2  05.01.2016    400  CZK      27-9638310287      100.0
3  05.01.2016    200  CZK      27-9638310287      100.0
4  06.01.2016   2400  CZK      51-1683520287      100.0

                                 Zpráva pro příjemce           Poznámka  \
0             MATOUS PISL, POPLATEK ZA FOTBAL 1/2016          PETR PISL
1              SIMON PISL, POPLATEK ZA FOTBAL 1/2016          PETR PISL
2  JAN PLAINER FOTBAL LEDEN 2016 JAN PLAINER FOTB...  PLAINEROVÁ BLANKA
3  ONDRA PLAINER FOTBAL LEDEN 201ONDRA PLAINER FO...  PLAINEROVÁ BLANKA
4         FOTBAL                        DOUSA LE-CER       KOPOVÁ PETRA

                    Typ          VS
0  Bezhotovostní příjem     90324.0
1  Bezhotovostní příjem  17092006.0
2  Bezhotovostní příjem  25072007.0
3  Bezhotovostní příjem  13012011.0
4  Bezhotovostní příjem   4042009.0
           Datum  Objem Měna   Protiúčet  Kód banky   Zpráva pro příjemce  \
2133  12.11.2020    550  CZK   614857113      800.0   Sebastian_Ohem_2010
2134  12.11.2020    550  CZK  2265626163      800.0     Jan Čenkovic 2014
2135  13.11.2020  21600  CZK       59942      800.0                   NaN
2136  16.11.2020    550  CZK  8078607001     5500.0     Tomáš Brabec 2010
2137  23.11.2020    550  CZK  2113081985     2700.0  Oliver_Kabourek_2007

                  Poznámka                   Typ          VS
2133       Ohem Luděk,Ing.  Bezhotovostní příjem         NaN
2134    Čenkovic Stanislav  Bezhotovostní příjem         NaN
2135  Up Česká republika s  Bezhotovostní příjem  20514820.0
2136       Ing. Jan Brabec  Bezhotovostní příjem         NaN
2137         BOUŠOVÁ LUCIE  Bezhotovostní příjem         NaN
Index(['Datum', 'Objem', 'Měna', 'Protiúčet', 'Kód banky',
       'Zpráva pro příjemce', 'Poznámka', 'Typ', 'VS'],
      dtype='object')

In [12]:
 
facr_df = pd.read_excel('C:\\Users\\micha\\Projects\\uhli\\data_z_klubu\\seznam-clenu.xls',index_col=None, na_values=['NA'])

In [13]:
facr_df

,Členské ID,Příjmení,Jméno,Rok narození,Číslo klubu,Název klubu,Členem od,První registrace,Aktivní člen,Stav emailu,Email
0,9070131.0,Adamečko,Jan,2009,1050181,SK Uhelné sklady Praha,28.11.2014,09.04.2015,ano,potvrzen,P.ADAMECKO@SEZNAM.CZ
1,11030619.0,Adamečko,Martin,2011,1050181,SK Uhelné sklady Praha,21.02.2018,22.02.2018,ano,potvrzen,sadameckova@seznam.cz
2,82111297.0,Bareš,David,1982,1050181,SK Uhelné sklady Praha,10.10.2019,10.10.2019,ano,potvrzen,davidbares16@gmail.com
3,10121126.0,Barešová,Karolína,2010,1050181,SK Uhelné sklady Praha,12.06.2019,12.06.2019,ano,potvrzen,lnimsova@gmail.com
4,84052349.0,Barešová,Lucie,1984,1050181,SK Uhelné sklady Praha,09.10.2020,NaN,ano,nepotvrzen,lnimsova@gmail.com
...,...,...,...,...,...,...,...,...,...,...,...
143,11061359.0,Yakushevych,Tymofii,2011,1050181,SK Uhelné sklady Praha,22.10.2019,22.10.2019,ano,potvrzen,domingoid@gmail.com
144,5091628.0,Zalešák,Theodor,2005,1050181,SK Uhelné sklady Praha,28.02.2018,04.04.2018,ano,potvrzen,stepan@zalesak.tv
145,6061726.0,Zaslav,Adrian,2006,1050181,SK Uhelné sklady Praha,22.10.2019,22.10.2019,ano,potvrzen,silvia.valastanova27@gmail.com
146,82021878.0,Zilvar,Lukáš,1982,1050181,SK Uhelné sklady Praha,30.05.2012,26.08.1994,ano,potvrzen,LUKAS.ZILVAR@SEZNAM.CZ
147,14030494.0,Zilvar,Tadeáš,2014,1050181,SK Uhelné sklady Praha,02.09.2020,02.09.2020,ano,nepotvrzen,lukas.zilvar@seznam.cz

In [4]:
# dbcon = create_connection("C:\\Users\\micha\\Projects\\uhli\\db.sqlite3")

try:
    conn = sqlite3.connect("C:\\Users\\micha\\Projects\\uhli\\db.sqlite3")
except Error as e:
    print(e)
    conn = None    
if conn:
    cur = conn.cursor()

In [6]:
cur.execute("select * from moviebook_clen where prijmeni like '%koč%'")
for row in cur:
    print (row)
#     print (f'Jmeno {row[5]}, Prijmeni {row[6]}') 
        # print (f'Jmeno {mc_clen[0]}, Prijmeni {mc_clen[1]}')

(6, 'tobijas.kocandrle@gmail.com', '123567', None, 1, 'Tobiáš', 'Kočandrle', 10, 123567, 1050181, '', '', '', '', '', '', '', '', '', '1111', '', '1973-01-01 00:00:00')
(54, None, '1007271562', '19.02.2016', 1, 'Alex', 'Kočandrle', 10070187, 10070187, 1050181, '670100-2208031200', None, 'MICHAL KOCANDRLE', None, '6210', None, None, '670100-2208031200', 'PŘEVOD PROSTŘEDKŮ', None, '', '2010-01-01 00:00:00')
(173, None, '7309220534', None, 1, 'Michal', 'Kočandrle', 1, 7309220534, 1050181, '670100-2208031200', None, 'MICHAL KOCANDRLE', None, '6210', None, None, '670100-2208031200', 'PŘEVOD PROSTŘEDKŮ', None, '', '1973-01-01 00:00:00')

In [19]:
conn.close()
del conn

In [278]:
conn = sql.connect('C:\\Users\\micha\\Projects\\uhli\\db.sqlite3')
df_clen = pd.read_sql_query(" select * from moviebook_clen", conn)
df_pp = pd.read_sql_query("select * from moviebook_prichozi_platby", conn)

KeyError: 'ucet_protiucet'

In [38]:
df_clen.tail(10)

,id,email,rc,clenem_od,active,jmeno,prijmeni,facr_id,var_symbol,klub_id,...,prijmeni_rodic,typ_clena,ucet_kod_banky,ucet_nazev_protiuctu,ucet_poznamka,ucet_protiucet,ucet_zprava_pro_prijemce,rok_narozeni,ucet_protiucet2,narozen
183,194,None,?,None,1,Alena,Peštová,1,1,1050181,...,None,None,None,None,None,None,None,None,,1973-01-01 00:00:00
184,195,d.ployhar@tiscali.cz,None,None,1,Jiří,Ployhar,1,1,1050181,...,"Ployhar David,MgA.",None,None,None,None,1306512193,"David Ployhar, 3/ 2017",None,,1973-01-01 00:00:00
185,196,None,None,None,1,Monika,Přenosilová,1,1,1050181,...,Monika Přenosilová,None,None,None,None,1103510016,Monika Přenosilová členský příspěvek SK UHELNÉ...,None,,1973-01-01 00:00:00
186,197,None,?,None,1,David,Šlapal,1,1,1050181,...,None,None,None,None,None,None,None,None,,1973-01-01 00:00:00
187,198,e.heinzova@volny.cz,None,None,1,Petr,Heinz,1,1,1050181,...,HEINZOVA EDITA,None,None,None,None,125965877,MP_Matyas_Heinz,None,,1973-01-01 00:00:00
188,199,e.heinzova@volny.cz,None,None,1,Edita,Heinzova,1,1,1050181,...,HEINZOVA EDITA,None,None,None,None,125965877,vstup do SK US - E. Heinzova,None,,1973-01-01 00:00:00
189,200,jan.vondracek@bidfood.cz,None,None,1,JAN,VONDRACEK,1,1,1050181,...,VONDRÁČKOVÁ EVA,None,None,None,None,35-5471610297,VONDRACEK,None,,1973-01-01 00:00:00
190,201,alena.meliskova@sond-or.cz,1208220277,None,1,Matej,Komárek,0,1,1050181,...,Meliskova Alena,None,None,None,None,272972102,MP_Matej_Komarek,None,None,1973-01-01 00:00:00
191,211,None,None,None,0,Jan,Lebeda,2,1,10,...,None,None,None,None,None,None,None,None,None,1973-01-01 00:00:00
192,219,miko731@seznam.cz,12345,None,1,Jmeno,Prijmeni,5,1,1050181,...,None,None,None,None,None,None,None,1111,None,1973-01-01 00:00:00

In [39]:
len(df_clen[pd.isnull(df_clen.clenem_od)])
# How many rows have weight values?
# len(surveys_df[surveys_df.weight > 0])

61

In [44]:
df_clen.iloc[0:6, 1:4]

                         email          rc   clenem_od
0             miko73@seznam.cz    12343331        None
1            miko731@seznam.cz    12121212        None
2  tobijas.kocandrle@gmail.com      123567        None
3                         None  1310161534  07.02.2020
4                         None  1310268253  19.02.2019
5            janik28@seznam.cz  1308141010  17.10.2019

In [45]:
surveys_df=df_clen

In [54]:
# Select all columns for rows of index values 0 and 10
surveys_df.loc[[0, 5], :]

,id,email,rc,clenem_od,active,jmeno,prijmeni,facr_id,var_symbol,klub_id,...,prijmeni_rodic,typ_clena,ucet_kod_banky,ucet_nazev_protiuctu,ucet_poznamka,ucet_protiucet,ucet_zprava_pro_prijemce,rok_narozeni,ucet_protiucet2,narozen
0,1,miko73@seznam.cz,12343331,None,1,Michal,Kocandrle,4,1,1050181,...,Jaromír Kočandrle,None,None,None,None,None,None,1111,None,1973-01-01 00:00:00
5,10,janik28@seznam.cz,1308141010,17.10.2019,1,Oliver,Janík,13080601,1,1050181,...,JANIK DANIEL,None,None,None,None,163650788,MP_Oliver_Janik_09_2019,None,,2013-01-01 00:00:00

In [56]:
# What does this do?
surveys_df.loc[0, ['jmeno', 'prijmeni', 'email', 'rc', 'narozen']]

jmeno                    Michal
prijmeni              Kocandrle
email          miko73@seznam.cz
rc                     12343331
narozen     1973-01-01 00:00:00
Name: 0, dtype: object

In [58]:
# What happens when you type the code below?
surveys_df.loc[[0, 5, 35], :]

,id,email,rc,clenem_od,active,jmeno,prijmeni,facr_id,var_symbol,klub_id,...,prijmeni_rodic,typ_clena,ucet_kod_banky,ucet_nazev_protiuctu,ucet_poznamka,ucet_protiucet,ucet_zprava_pro_prijemce,rok_narozeni,ucet_protiucet2,narozen
0,1,miko73@seznam.cz,12343331,None,1,Michal,Kocandrle,4,1,1050181,...,Jaromír Kočandrle,None,None,None,None,None,None,1111,None,1973-01-01 00:00:00
5,10,janik28@seznam.cz,1308141010,17.10.2019,1,Oliver,Janík,13080601,1,1050181,...,JANIK DANIEL,None,None,None,None,163650788,MP_Oliver_Janik_09_2019,None,,2013-01-01 00:00:00
35,41,lnovotna@yahoo.com,1151250826,02.10.2018,1,Lucie,Novotná,1,1,1050181,...,MARTIN NOVOTNY,None,None,None,None,670100-2201037917,"LUKAS NOVOTNY , ZARI, RIJEN",None,,2011-01-01 00:00:00

In [61]:
surveys_df.iloc[4, 6]

'Debnár'

In [62]:
surveys_df.iloc[0:4, 1:4]

                         email          rc   clenem_od
0             miko73@seznam.cz    12343331        None
1            miko731@seznam.cz    12121212        None
2  tobijas.kocandrle@gmail.com      123567        None
3                         None  1310161534  07.02.2020

In [68]:
surveys_df.loc[0, :]

id                                            1
email                          miko73@seznam.cz
rc                                     12343331
clenem_od                                  None
active                                        1
jmeno                                    Michal
prijmeni                              Kocandrle
facr_id                                       4
var_symbol                                    1
klub_id                                 1050181
cislo_uctu                                 None
telefonni_cislo                       602495382
prijmeni_rodic                Jaromír Kočandrle
typ_clena                                  None
ucet_kod_banky                             None
ucet_nazev_protiuctu                       None
ucet_poznamka                              None
ucet_protiucet                             None
ucet_zprava_pro_prijemce                   None
rok_narozeni                               1111
ucet_protiucet2                            None
narozen                     1973-01-01 00:00:00
Name: 0, dtype: object

In [81]:
surveys_df.loc[[1],:]

,id,email,rc,clenem_od,active,jmeno,prijmeni,facr_id,var_symbol,klub_id,...,prijmeni_rodic,typ_clena,ucet_kod_banky,ucet_nazev_protiuctu,ucet_poznamka,ucet_protiucet,ucet_zprava_pro_prijemce,rok_narozeni,ucet_protiucet2,narozen
1,5,miko731@seznam.cz,12121212,None,1,Michal,Váňa,1,1,1050181,...,,,,,,,,1111,,1973-01-01 00:00:00

In [84]:
surveys_df.loc[[0,3], ['jmeno', 'prijmeni', 'email', 'rc', 'narozen']]

    jmeno     prijmeni             email          rc              narozen
0  Michal    Kocandrle  miko73@seznam.cz    12343331  1973-01-01 00:00:00
3   Lukáš  Baumgardner              None  1310161534  2013-01-01 00:00:00

In [86]:
surveys_df.loc[0:3, ['jmeno', 'prijmeni', 'email', 'rc', 'narozen']]

,jmeno,prijmeni,email,rc,narozen
0,Michal,Kocandrle,miko73@seznam.cz,12343331,1973-01-01 00:00:00
1,Michal,Váňa,miko731@seznam.cz,12121212,1973-01-01 00:00:00
2,Tobiáš,Kočandrle,tobijas.kocandrle@gmail.com,123567,1973-01-01 00:00:00
3,Lukáš,Baumgardner,None,1310161534,2013-01-01 00:00:00

In [92]:
surveys_df[(surveys_df.narozen == '2010-01-01 00:00:00' )&  (surveys_df.prijmeni == 'Jantač')]

,id,email,rc,clenem_od,active,jmeno,prijmeni,facr_id,var_symbol,klub_id,...,prijmeni_rodic,typ_clena,ucet_kod_banky,ucet_nazev_protiuctu,ucet_poznamka,ucet_protiucet,ucet_zprava_pro_prijemce,rok_narozeni,ucet_protiucet2,narozen
45,51,lenka.jantacova@email.cz,1005208767,13.06.2019,1,Jakub,Jantač,10051360,1,1050181,...,Tošovská Alena,None,None,None,None,1012750073,JANTOSOVSKYZARH,None,,2010-01-01 00:00:00

In [93]:
surveys_df[surveys_df['prijmeni'].isin(['Kočandrle', 'Nič'])]

,id,email,rc,clenem_od,active,jmeno,prijmeni,facr_id,var_symbol,klub_id,...,prijmeni_rodic,typ_clena,ucet_kod_banky,ucet_nazev_protiuctu,ucet_poznamka,ucet_protiucet,ucet_zprava_pro_prijemce,rok_narozeni,ucet_protiucet2,narozen
2,6,tobijas.kocandrle@gmail.com,123567,None,1,Tobiáš,Kočandrle,10,122,1050181,...,,,,,,,,1111,,1973-01-01 00:00:00
34,40,None,1110300686,27.09.2017,1,Václav,Nič,11100313,1,1050181,...,NIČ VÁCLAV,None,None,None,None,51-1517430227,Trenér Václav Nič 5.10.1983 členský příspěvek ...,None,,2011-01-01 00:00:00
48,54,None,1007271562,19.02.2016,1,Alex,Kočandrle,10070187,1,1050181,...,MICHAL KOCANDRLE,None,None,None,None,670100-2208031200,PŘEVOD PROSTŘEDKŮ,None,,2010-01-01 00:00:00
108,114,None,8310050265,None,1,Václav,Nič,11100313,1,1050181,...,NIČ VÁCLAV,None,None,None,None,51-1517430227,Trenér Václav Nič 5.10.1983 členský příspěvek ...,None,,1983-01-01 00:00:00
164,173,None,7309220534,None,1,Michal,Kočandrle,1,1,1050181,...,MICHAL KOCANDRLE,None,None,None,None,670100-2208031200,PŘEVOD PROSTŘEDKŮ,None,,1973-01-01 00:00:00

In [100]:
surveys_df[pd.isnull(surveys_df).any(axis=1)]

,id,email,rc,clenem_od,active,jmeno,prijmeni,facr_id,var_symbol,klub_id,...,prijmeni_rodic,typ_clena,ucet_kod_banky,ucet_nazev_protiuctu,ucet_poznamka,ucet_protiucet,ucet_zprava_pro_prijemce,rok_narozeni,ucet_protiucet2,narozen
0,1,miko73@seznam.cz,12343331,None,1,Michal,Kocandrle,4,1,1050181,...,Jaromír Kočandrle,None,None,None,None,None,None,1111,None,1973-01-01 00:00:00
1,5,miko731@seznam.cz,12121212,None,1,Michal,Váňa,1,1,1050181,...,,,,,,,,1111,,1973-01-01 00:00:00
2,6,tobijas.kocandrle@gmail.com,123567,None,1,Tobiáš,Kočandrle,10,122,1050181,...,,,,,,,,1111,,1973-01-01 00:00:00
3,8,None,1310161534,07.02.2020,1,Lukáš,Baumgardner,1,1,1050181,...,None,None,None,None,None,None,None,None,,2013-01-01 00:00:00
4,9,None,1310268253,19.02.2019,1,Adam,Debnár,13100166,1,1050181,...,None,None,None,None,None,None,None,None,,2013-01-01 00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
188,199,e.heinzova@volny.cz,None,None,1,Edita,Heinzova,1,1,1050181,...,HEINZOVA EDITA,None,None,None,None,125965877,vstup do SK US - E. Heinzova,None,,1973-01-01 00:00:00
189,200,jan.vondracek@bidfood.cz,None,None,1,JAN,VONDRACEK,1,1,1050181,...,VONDRÁČKOVÁ EVA,None,None,None,None,35-5471610297,VONDRACEK,None,,1973-01-01 00:00:00
190,201,alena.meliskova@sond-or.cz,1208220277,None,1,Matej,Komárek,0,1,1050181,...,Meliskova Alena,None,None,None,None,272972102,MP_Matej_Komarek,None,None,1973-01-01 00:00:00
191,211,None,None,None,0,Jan,Lebeda,2,1,10,...,None,None,None,None,None,None,None,None,None,1973-01-01 00:00:00
192,219,miko731@seznam.cz,12345,None,1,Jmeno,Prijmeni,5,1,1050181,...,None,None,None,None,None,None,None,1111,None,1973-01-01 00:00:00

In [101]:
s = pd.Series(['aa', 'ab', 'ca', np.nan])

In [168]:
s

0     aa
1     ab
2     ca
3    NaN
dtype: object

In [102]:
s.str.startswith('a', na=False)

0     True
1     True
2    False
3    False
dtype: bool

In [169]:
s.str.contains('^a', na=False)

0     True
1     True
2    False
3    False
dtype: bool

In [105]:
s.str.startswith('a')

0     True
1     True
2    False
3      NaN
dtype: object

In [106]:
surveys_df.dtypes

id                           int64
email                       object
rc                          object
clenem_od                   object
active                       int64
jmeno                       object
prijmeni                    object
facr_id                      int64
var_symbol                   int64
klub_id                      int64
cislo_uctu                  object
telefonni_cislo             object
prijmeni_rodic              object
typ_clena                   object
ucet_kod_banky              object
ucet_nazev_protiuctu        object
ucet_poznamka               object
ucet_protiucet              object
ucet_zprava_pro_prijemce    object
rok_narozeni                object
ucet_protiucet2             object
narozen                     object
dtype: object

In [108]:
surveys_df["narozen"].value_counts()

2010-01-01 00:00:00    33
1973-01-01 00:00:00    18
2012-01-01 00:00:00    17
2011-01-01 00:00:00    17
2009-01-01 00:00:00    17
2007-01-01 00:00:00    11
2008-01-01 00:00:00    10
2013-01-01 00:00:00     7
1991-01-01 00:00:00     6
2005-01-01 00:00:00     6
2014-01-01 00:00:00     5
2006-01-01 00:00:00     4
1983-01-01 00:00:00     4
2004-01-01 00:00:00     3
1987-01-01 00:00:00     3
1982-01-01 00:00:00     2
2015-01-01 00:00:00     2
1989-01-01 00:00:00     1
1992-01-01 00:00:00     1
1986-01-01 00:00:00     1
1964-01-01 00:00:00     1
1993-01-01 00:00:00     1
2019-01-01 00:00:00     1
1998-01-01 00:00:00     1
1988-01-01 00:00:00     1
1981-01-01 00:00:00     1
1978-01-01 00:00:00     1
1994-01-01 00:00:00     1
1977-01-01 00:00:00     1
1963-01-01 00:00:00     1
1990-01-01 00:00:00     1
1985-01-01 00:00:00     1
1974-01-01 00:00:00     1
Name: narozen, dtype: int64

In [294]:
df_clen.dtypes

id                           int64
email                       object
rc                          object
clenem_od                   object
active                       int64
jmeno                       object
prijmeni                    object
facr_id                      int64
var_symbol                   int64
klub_id                      int64
cislo_uctu                  object
telefonni_cislo             object
prijmeni_rodic              object
typ_clena                   object
ucet_kod_banky              object
ucet_nazev_protiuctu        object
ucet_poznamka               object
ucet_protiucet              object
ucet_zprava_pro_prijemce    object
rok_narozeni                object
ucet_protiucet2             object
narozen                     object
dtype: object

In [293]:
df_platby=df
df_platby.dtypes

Datum                   object
Objem                    int64
Měna                    object
Protiúčet               object
Kód banky              float64
Zpráva pro příjemce     object
Poznámka                object
Typ                     object
VS                     float64
dtype: object

In [297]:

df_platby = (df
    .assign(
        VS=df_platby['VS'].astype("string")
        ,kod_banky=df_platby['kod_banky'].astype("string")
        ,ucet_protiucet=df_platby['ucet_protiucet'].astype("string")
    )
    .set_index("ucet_protiucet")
)

df_clen_1=(df_clen
    .assign(
        ucet_protiucet=df_clen['ucet_protiucet'].astype("string")         
    )
    .set_index("ucet_protiucet")
)

KeyError: 'ucet_protiucet'

In [302]:
df_platby = (df
    .rename({
        "Protiúčet": "ucet_protiucet",
        "Zpráva pro příjemce":"zprava",
        "Kód banky":"kod_banky",
        "Poznámka":"poznamka"     
    }, axis="columns")
)

In [303]:
pd.merge(
    df_clen_1,
    df_platby,
    suffixes=[" (clen)", " (platby)"],
    on="ucet_protiucet"
).query("prijmeni == 'Kočandrle'")  # "Jeden" ukázkový

,ucet_protiucet,id,email,rc,clenem_od,active,jmeno,prijmeni,facr_id,var_symbol,...,ucet_protiucet2,narozen,Datum,Objem,Měna,kod_banky,zprava,poznamka,Typ,VS
1312,670100-2208031200,54,None,1007271562,19.02.2016,1,Alex,Kočandrle,10070187,1,...,,2010-01-01 00:00:00,30.06.2016,3000,CZK,6210.0,ALEX KOČANDRLE LETNÍ SOUSTŘEDĚNÍ,MICHAL KOCANDRLE,Bezhotovostní příjem,NaN
1313,670100-2208031200,54,None,1007271562,19.02.2016,1,Alex,Kočandrle,10070187,1,...,,2010-01-01 00:00:00,21.02.2017,1600,CZK,6210.0,PŘEVOD PROSTŘEDKŮ,MICHAL KOCANDRLE,Bezhotovostní příjem,1.007272e+09
1314,670100-2208031200,54,None,1007271562,19.02.2016,1,Alex,Kočandrle,10070187,1,...,,2010-01-01 00:00:00,26.05.2017,1600,CZK,6210.0,ALEX KOČANDRLE,MICHAL KOCANDRLE,Bezhotovostní příjem,1.007272e+09
1315,670100-2208031200,54,None,1007271562,19.02.2016,1,Alex,Kočandrle,10070187,1,...,,2010-01-01 00:00:00,23.04.2018,2400,CZK,6210.0,ALEX KOČANDRLE 01-06 / 2018,MICHAL KOCANDRLE,Bezhotovostní příjem,1.007272e+09
1316,670100-2208031200,54,None,1007271562,19.02.2016,1,Alex,Kočandrle,10070187,1,...,,2010-01-01 00:00:00,14.09.2018,2200,CZK,6210.0,MP_ALEX_KOČANDRLE,MICHAL KOCANDRLE,Bezhotovostní příjem,1.007272e+09
1317,670100-2208031200,54,None,1007271562,19.02.2016,1,Alex,Kočandrle,10070187,1,...,,2010-01-01 00:00:00,30.01.2019,550,CZK,6210.0,ALEX KOČANDRLE 01/ 2019,MICHAL KOCANDRLE,Bezhotovostní příjem,1.007272e+09
1318,670100-2208031200,54,None,1007271562,19.02.2016,1,Alex,Kočandrle,10070187,1,...,,2010-01-01 00:00:00,01.02.2019,550,CZK,6210.0,ALEX KOČANDRLE,MICHAL KOCANDRLE,Bezhotovostní příjem,1.007272e+09
1319,670100-2208031200,54,None,1007271562,19.02.2016,1,Alex,Kočandrle,10070187,1,...,,2010-01-01 00:00:00,01.03.2019,550,CZK,6210.0,ALEX KOČANDRLE,MICHAL KOCANDRLE,Bezhotovostní příjem,1.007272e+09
1320,670100-2208031200,54,None,1007271562,19.02.2016,1,Alex,Kočandrle,10070187,1,...,,2010-01-01 00:00:00,01.04.2019,550,CZK,6210.0,ALEX KOČANDRLE,MICHAL KOCANDRLE,Bezhotovostní příjem,1.007272e+09
1321,670100-2208031200,54,None,1007271562,19.02.2016,1,Alex,Kočandrle,10070187,1,...,,2010-01-01 00:00:00,30.04.2019,550,CZK,6210.0,ALEX KOČANDRLE,MICHAL KOCANDRLE,Bezhotovostní příjem,1.007272e+09
1322,670100-2208031200,54,None,1007271562,19.02.2016,1,Alex,Kočandrle,10070187,1,...,,2010-01-01 00:00:00,31.05.2019,550,CZK,6210.0,ALEX KOČANDRLE,MICHAL KOCANDRLE,Bezhotovostní příjem,1.007272e+09
1323,670100-2208031200,54,None,1007271562,19.02.2016,1,Alex,Kočandrle,10070187,1,...,,2010-01-01 00:00:00,01.07.2019,550,CZK,6210.0,ALEX KOČANDRLE,MICHAL KOCANDRLE,Bezhotovostní příjem,1.007272e+09
1324,670100-2208031200,54,None,1007271562,19.02.2016,1,Alex,Kočandrle,10070187,1,...,,2010-01-01 00:00:00,01.08.2019,550,CZK,6210.0,ALEX KOČANDRLE,MICHAL KOCANDRLE,Bezhotovostní příjem,1.007272e+09
1325,670100-2208031200,54,None,1007271562,19.02.2016,1,Alex,Kočandrle,10070187,1,...,,2010-01-01 00:00:00,30.08.2019,550,CZK,6210.0,ALEX KOČANDRLE,MICHAL KOCANDRLE,Bezhotovostní příjem,1.007272e+09
1326,670100-2208031200,54,None,1007271562,19.02.2016,1,Alex,Kočandrle,10070187,1,...,,2010-01-01 00:00:00,29.11.2019,550,CZK,6210.0,ALEX KOČANDRLE,MICHAL KOCANDRLE,Bezhotovostní příjem,1.007272e+09
1327,670100-2208031200,54,None,1007271562,19.02.2016,1,Alex,Kočandrle,10070187,1,...,,2010-01-01 00:00:00,31.12.2019,550,CZK,6210.0,ALEX KOČANDRLE,MICHAL KOCANDRLE,Bezhotovostní příjem,1.007272e+09
1328,670100-2208031200,54,None,1007271562,19.02.2016,1,Alex,Kočandrle,10070187,1,...,,2010-01-01 00:00:00,31.01.2020,550,CZK,6210.0,ALEX KOČANDRLE,MICHAL KOCANDRLE,Bezhotovostní příjem,1.007272e+09
1329,670100-2208031200,54,None,1007271562,19.02.2016,1,Alex,Kočandrle,10070187,1,...,,2010-01-01 00:00:00,28.02.2020,550,CZK,6210.0,ALEX KOČANDRLE,MICHAL KOCANDRLE,Bezhotovostní příjem,1.007272e+09
1330,670100-2208031200,54,None,1007271562,19.02.2016,1,Alex,Kočandrle,10070187,1,...,,2010-01-01 00:00:00,29.06.2020,1000,CZK,6210.0,PŘÍSPĚVEK 18 19 MICHAL KOČ.,MICHAL KOCANDRLE,Bezhotovostní příjem,7.309221e+09
1331,670100-2208031200,173,None,7309220534,None,1,Michal,Kočandrle,1,1,...,,1973-01-01 00:00:00,30.06.2016,3000,CZK,6210.0,ALEX KOČANDRLE LETNÍ SOUSTŘEDĚNÍ,MICHAL KOCANDRLE,Bezhotovostní příjem,NaN
1332,670100-2208031200,173,None,7309220534,None,1,Michal,Kočandrle,1,1,...,,1973-01-01 00:00:00,21.02.2017,1600,CZK,6210.0,PŘEVOD PROSTŘEDKŮ,MICHAL KOCANDRLE,Bezhotovostní příjem,1.007272e+09
1333,670100-2208031200,173,None,7309220534,None,1,Michal,Kočandrle,1,1,...,,1973-01-01 00:00:00,26.05.2017,1600,CZK,6210.0,ALEX KOČANDRLE,MICHAL KOCANDRLE,Bezhotovostní příjem,1.007272e+09
1334,670100-2208031200,173,None,7309220534,None,1,Michal,Kočandrle,1,1,...,,1973-01-01 00:00:00,23.04.2018,2400,CZK,6210.0,ALEX KOČANDRLE 01-06 / 2018,MICHAL KOCANDRLE,Bezhotovostní příjem,1.007272e+09
1335,670100-2208031200,173,None,7309220534,None,1,Michal,Kočandrle,1,1,...,,1973-01-01 00:00:00,14.09.2018,2200,CZK,6210.0,MP_ALEX_KOČANDRLE,MICHAL KOCANDRLE,Bezhotovostní příjem,1.007272e+09
1336,670100-2208031200,173,None,7309220534,None,1,Michal,Kočandrle,1,1,...,,1973-01-01 00:00:00,30.01.2019,550,CZK,6210.0,ALEX KOČANDRLE 01/ 2019,MICHAL KOCANDRLE,Bezhotovostní příjem,1.007272e+09
1337,670100-2208031200,173,None,7309220534,None,1,Michal,Kočandrle,1,1,...,,1973-01-01 00:00:00,01.02.2019,550,CZK,6210.0,ALEX KOČANDRLE,MICHAL KOCANDRLE,Bezhotovostní příjem,1.007272e+09
1338,670100-2208031200,173,None,7309220534,None,1,Michal,Kočandrle,1,1,...,,1973-01-01 00:00:00,01.03.2019,550,CZK,6210.0,ALEX KOČANDRLE,MICHAL KOCANDRLE,Bezhotovostní příjem,1.007272e+09
1339,670100-2208031200,173,None,7309220534,None,1,Michal,Kočandrle,1,1,...,,1973-01-01 00:00:00,01.04.2019,550,CZK,6210.0,ALEX KOČANDRLE,MICHAL KOCANDRLE,Bezhotovostní příjem,1.007272e+09
1340,670100-2208031200,173,None,7309220534,None,1,Michal,Kočandrle,1,1,...,,1973-01-01 00:00:00,30.04.2019,550,CZK,6210.0,ALEX KOČANDRLE,MICHAL KOCANDRLE,Bezhotovostní příjem,1.007272e+09
1341,670100-2208031200,173,None,7309220534,None,1,Michal,Kočandrle,1,1,...,,1973-01-01 00:00:00,31.05.2019,550,CZK,6210.0,ALEX KOČANDRLE,MICHAL KOCANDRLE,Bezhotovostní příjem,1.007272e+09
1342,670100-2208031200,173,None,7309220534,None,1,Michal,Kočandrle,1,1,...,,1973-01-01 00:00:00,01.07.2019,550,CZK,6210.0,ALEX KOČANDRLE,MICHAL KOCANDRLE,Bezhotovostní příjem,1.007272e+09
1343,670100-2208031200,173,None,7309220534,None,1,Michal,Kočandrle,1,1,...,,1973-01-01 00:00:00,01.08.2019,550,CZK,6210.0,ALEX KOČANDRLE,MICHAL KOCANDRLE,Bezhotovostní příjem,1.007272e+09
1344,670100-2208031200,173,None,7309220534,None,1,Michal,Kočandrle,1,1,...,,1973-01-01 00:00:00,30.08.2019,550,CZK,6210.0,ALEX KOČANDRLE,MICHAL KOCANDRLE,Bezhotovostní příjem,1.007272e+09
1345,670100-2208031200,173,None,7309220534,None,1,Michal,Kočandrle,1,1,...,,1973-01-01 00:00:00,29.11.2019,550,CZK,6210.0,ALEX KOČANDRLE,MICHAL KOCANDRLE,Bezhotovostní příjem,1.007272e+09
1346,670100-2208031200,173,None,7309220534,None,1,Michal,Kočandrle,1,1,...,,1973-01-01 00:00:00,31.12.2019,550,CZK,6210.0,ALEX KOČANDRLE,MICHAL KOCANDRLE,Bezhotovostní příjem,1.007272e+09
1347,670100-2208031200,173,None,7309220534,None,1,Michal,Kočandrle,1,1,...,,1973-01-01 00:00:00,31.01.2020,550,CZK,6210.0,ALEX KOČANDRLE,MICHAL KOCANDRLE,Bezhotovostní příjem,1.007272e+09
1348,670100-2208031200,173,None,7309220534,None,1,Michal,Kočandrle,1,1,...,,1973-01-01 00:00:00,28.02.2020,550,CZK,6210.0,ALEX KOČANDRLE,MICHAL KOCANDRLE,Bezhotovostní příjem,1.007272e+09
1349,670100-2208031200,173,None,7309220534,None,1,Michal,Kočandrle,1,1,...,,1973-01-01 00:00:00,29.06.2020,1000,CZK,6210.0,PŘÍSPĚVEK 18 19 MICHAL KOČ.,MICHAL KOCANDRLE,Bezhotovostní příjem,7.309221e+09

In [288]:
df_platby.dtypes

Datum              object
Objem               int64
Měna               object
ucet_protiucet     object
kod_banky         float64
zprava             object
poznamka           object
Typ                object
VS                float64
dtype: object

In [289]:
df_platby['zprava'].str.upper().head(10)

# data['Name'] = data['Name'].str.upper() 
# data['College'].apply(lambda x: x.upper()).head(10)

0               MATOUS PISL, POPLATEK ZA FOTBAL 1/2016
1                SIMON PISL, POPLATEK ZA FOTBAL 1/2016
2    JAN PLAINER FOTBAL LEDEN 2016 JAN PLAINER FOTB...
3    ONDRA PLAINER FOTBAL LEDEN 201ONDRA PLAINER FO...
4           FOTBAL                        DOUSA LE-CER
5                       FILIP TRNENY MESICNI PRISPEVEK
6                             CIBULKA MAREK LEDEN 2016
7       FOTBAL                        DOUSA SIMON FACR
8                                SEBASTIAN HUB 01/2016
9                                   DAVID SENOLT LEDEN
Name: zprava, dtype: object

In [305]:
# is_koc = df_platby['zprava'] == 'ALEX KOČANDRLE'
is_koc = df_platby['zprava'].str.upper().str.contains('PLAIN',na=False)
is_koc.value_counts()
is_koc
df_platby[is_koc]

,Datum,Objem,Měna,ucet_protiucet,kod_banky,zprava,poznamka,Typ,VS
2,05.01.2016,400,CZK,27-9638310287,100.0,JAN PLAINER FOTBAL LEDEN 2016 JAN PLAINER FOTB...,PLAINEROVÁ BLANKA,Bezhotovostní příjem,25072007.0
3,05.01.2016,200,CZK,27-9638310287,100.0,ONDRA PLAINER FOTBAL LEDEN 201ONDRA PLAINER FO...,PLAINEROVÁ BLANKA,Bezhotovostní příjem,13012011.0

In [309]:
df_clen[df_clen.prijmeni.str.lower().str.contains('plain',na=False)]

Empty DataFrame
Columns: [id, email, rc, clenem_od, active, jmeno, prijmeni, facr_id, var_symbol, klub_id, cislo_uctu, telefonni_cislo, prijmeni_rodic, typ_clena, ucet_kod_banky, ucet_nazev_protiuctu, ucet_poznamka, ucet_protiucet, ucet_zprava_pro_prijemce, rok_narozeni, ucet_protiucet2, narozen]
Index: []

[0 rows x 22 columns]

In [291]:
import re
df_platby[df_platby.zprava.str.contains('ANDRL', na=False, flags=re.I)]

,Datum,Objem,Měna,ucet_protiucet,kod_banky,zprava,poznamka,Typ,VS
91,17.02.2016,-100,CZK,369000369,800.0,registracni poplatek FACR_Alex Kacandrle,registracni poplatek FACR_J.Suchy,Bezhotovostní platba,1.007272e+09
258,30.06.2016,3000,CZK,670100-2208031200,6210.0,ALEX KOČANDRLE LETNÍ SOUSTŘEDĚNÍ,MICHAL KOCANDRLE,Bezhotovostní příjem,NaN
617,26.05.2017,1600,CZK,670100-2208031200,6210.0,ALEX KOČANDRLE,MICHAL KOCANDRLE,Bezhotovostní příjem,1.007272e+09
935,23.04.2018,2400,CZK,670100-2208031200,6210.0,ALEX KOČANDRLE 01-06 / 2018,MICHAL KOCANDRLE,Bezhotovostní příjem,1.007272e+09
1040,14.09.2018,2200,CZK,670100-2208031200,6210.0,MP_ALEX_KOČANDRLE,MICHAL KOCANDRLE,Bezhotovostní příjem,1.007272e+09
1309,30.01.2019,550,CZK,670100-2208031200,6210.0,ALEX KOČANDRLE 01/ 2019,MICHAL KOCANDRLE,Bezhotovostní příjem,1.007272e+09
1314,01.02.2019,550,CZK,670100-2208031200,6210.0,ALEX KOČANDRLE,MICHAL KOCANDRLE,Bezhotovostní příjem,1.007272e+09
1371,01.03.2019,550,CZK,670100-2208031200,6210.0,ALEX KOČANDRLE,MICHAL KOCANDRLE,Bezhotovostní příjem,1.007272e+09
1431,01.04.2019,550,CZK,670100-2208031200,6210.0,ALEX KOČANDRLE,MICHAL KOCANDRLE,Bezhotovostní příjem,1.007272e+09
1489,30.04.2019,550,CZK,670100-2208031200,6210.0,ALEX KOČANDRLE,MICHAL KOCANDRLE,Bezhotovostní příjem,1.007272e+09
1538,31.05.2019,550,CZK,670100-2208031200,6210.0,ALEX KOČANDRLE,MICHAL KOCANDRLE,Bezhotovostní příjem,1.007272e+09
1589,01.07.2019,550,CZK,670100-2208031200,6210.0,ALEX KOČANDRLE,MICHAL KOCANDRLE,Bezhotovostní příjem,1.007272e+09
1598,01.08.2019,550,CZK,670100-2208031200,6210.0,ALEX KOČANDRLE,MICHAL KOCANDRLE,Bezhotovostní příjem,1.007272e+09
1606,30.08.2019,550,CZK,670100-2208031200,6210.0,ALEX KOČANDRLE,MICHAL KOCANDRLE,Bezhotovostní příjem,1.007272e+09
1768,29.11.2019,550,CZK,670100-2208031200,6210.0,ALEX KOČANDRLE,MICHAL KOCANDRLE,Bezhotovostní příjem,1.007272e+09
1816,31.12.2019,550,CZK,670100-2208031200,6210.0,ALEX KOČANDRLE,MICHAL KOCANDRLE,Bezhotovostní příjem,1.007272e+09
1879,31.01.2020,550,CZK,670100-2208031200,6210.0,ALEX KOČANDRLE,MICHAL KOCANDRLE,Bezhotovostní příjem,1.007272e+09
1953,28.02.2020,550,CZK,670100-2208031200,6210.0,ALEX KOČANDRLE,MICHAL KOCANDRLE,Bezhotovostní příjem,1.007272e+09

In [292]:
df_bezuctu = df_clen_1[pd.isnull(df_clen_1.ucet_protiucet)]

AttributeError: 'DataFrame' object has no attribute 'ucet_protiucet'

In [272]:
# najdi všechna čísla účtů členů a vypiš platby nepřiřazené.
# is_koc = df_platby['zprava'].str.upper().str.contains('ANDRL',na=False)
# is_koc.value_counts()
# is_koc
# df_platby[is_koc]

# pd.merge(
#     df_clen,
#     df_platby,
#     suffixes=["(clen)", "(platby)"],
#     on="ucet_protiucet"
# ).query("prijmeni == 'Kočandrle'")  # "Jeden" ukázkový

bez_clena = df_platby.join(df_clen, on="ucet_protiucet", lsuffix="_platby", rsuffix="_clen", how="left")

In [300]:
bez_clena.dtypes

Datum                        object
Objem                         int64
Měna                         object
Protiúčet                    object
Kód banky                   float64
Zpráva pro příjemce          object
Poznámka                     object
Typ                          object
VS                           string
kod_banky                    string
id                          float64
email                        object
rc                           object
clenem_od                    object
active                      float64
jmeno                        object
prijmeni                     object
facr_id                     float64
var_symbol                  float64
klub_id                     float64
cislo_uctu                   object
telefonni_cislo              object
prijmeni_rodic               object
typ_clena                    object
ucet_kod_banky               object
ucet_nazev_protiuctu         object
ucet_poznamka                object
ucet_zprava_pro_prijemce     object
rok_narozeni                 object
ucet_protiucet2              object
narozen                      object
dtype: object

In [298]:
# bez_clena [['jmeno', 'prijmeni', 'Objem']]


bez_clena[pd.isnull(bez_clena.prijmeni)]

,Datum,Objem,Měna,Protiúčet,Kód banky,Zpráva pro příjemce,Poznámka,Typ,VS,kod_banky,...,telefonni_cislo,prijmeni_rodic,typ_clena,ucet_kod_banky,ucet_nazev_protiuctu,ucet_poznamka,ucet_zprava_pro_prijemce,rok_narozeni,ucet_protiucet2,narozen
ucet_protiucet,,,,,,,,,,,,,,,,,,,,,
670100-2201092094,04.01.2016,400,CZK,670100-2201092094,6210.0,"MATOUS PISL, POPLATEK ZA FOTBAL 1/2016",PETR PISL,Bezhotovostní příjem,90324.0,6210.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
670100-2201092094,04.01.2016,400,CZK,670100-2201092094,6210.0,"SIMON PISL, POPLATEK ZA FOTBAL 1/2016",PETR PISL,Bezhotovostní příjem,17092006.0,6210.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27-9638310287,05.01.2016,400,CZK,27-9638310287,100.0,JAN PLAINER FOTBAL LEDEN 2016 JAN PLAINER FOTB...,PLAINEROVÁ BLANKA,Bezhotovostní příjem,25072007.0,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27-9638310287,05.01.2016,200,CZK,27-9638310287,100.0,ONDRA PLAINER FOTBAL LEDEN 201ONDRA PLAINER FO...,PLAINEROVÁ BLANKA,Bezhotovostní příjem,13012011.0,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
533309,13.01.2016,400,CZK,533309,5500.0,Sebastian Hub 01/2016,Martin Hub,Bezhotovostní příjem,81017.0,5500.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1174011193,09.11.2020,550,CZK,1174011193,800.0,Theodor Zálešák 2005,Zálešáková Daniela,Bezhotovostní příjem,<NA>,800.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
614857113,12.11.2020,550,CZK,614857113,800.0,Sebastian_Ohem_2010,"Ohem Luděk,Ing.",Bezhotovostní příjem,<NA>,800.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2265626163,12.11.2020,550,CZK,2265626163,800.0,Jan Čenkovic 2014,Čenkovic Stanislav,Bezhotovostní příjem,<NA>,800.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59942,13.11.2020,21600,CZK,59942,800.0,NaN,Up Česká republika s,Bezhotovostní příjem,20514820.0,800.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8078607001,16.11.2020,550,CZK,8078607001,5500.0,Tomáš Brabec 2010,Ing. Jan Brabec,Bezhotovostní příjem,<NA>,5500.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN